@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        "Life is a race, if you don't run fast you'll get trampled." <br /> 
                            - Viru Sahastrabuddhe (aka 'virus')
    </p>
</div>