@{
    ViewData["Title"] = "Marvel";
}

<div class="text-center">
    <h1 class="display-4">Here we will be exploring the Marvel Api</h1>
    <p>
        My Marvel Public Key: @ViewData["SecretValue"]
    </p>
</div>