@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Every Developer has the right to code!!! </p>
<p>This website has been created for learning purpose only. There is no monetary benefit generated from this website for the creator.</p>
<p>This website does not store any user data.</p>
